#sectionHeader {

    h3 {
        display: inline-block;
        font-size: 37px;
        border-bottom: 4px dotted #f68b1f;
        font-weight: 600;
    }

    p {
        margin-top: 20px;
        line-height: 1.5;
        color: #949a9b;
    }
}